/* site info*/
body {
    margin: 0;
}
* { 
    font-family: Tahoma, sans-serif;
}

/* content */
.content-front{
    height: 100vh;
    background: url("images/front.jpeg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center; /* Align vertical */    
    text-align: center;
}
.content-front-title{
    font-size: 5rem;
    margin: 0;
}
.content-front-text{
    font-size: 1.5rem;
}
.content-space{
    height: 40vh;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-size: 1.5rem;
}

/* list item with checks */
.content-list-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    height: 100%;
    background-color: antiquewhite;;
}
.content-list{
    padding-left: 0;
    list-style: none;
}
.content-list li{
    margin: 1rem;
}


/* image on the side*/
.content-side-container{
    display: flex;
    flex-wrap: wrap;
}
.content-side-image{
    flex: 1 1 0%;
    width: 50%
}
.content-side-text{
    flex: 1 1 0%;
    width: 50%
}

/* contact */
.content-space-contact{
    padding: 100px;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.contact-container {
    text-align: center;
    margin: auto; 
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.contact-link{
    background-color: #478ac9;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 30px;
    color: white;
    display: inline-block;
    text-decoration: none;
}
.contact-link:hover{
    background-color: black;
}

/* phone */
@media only screen and (max-width: 750px) {
    .content-front-title{
        font-size: 3rem;
        margin: 0;
    }
    .content-side-image{
        width: 100%
    }
    .content-side-text{
        width: 100%
    }
    .content-side-image-mobile-order{
        order: 1;
    }
}

/* header */
header {
    background-color: rgba(250, 250, 250, 1);    
    margin-top: 5px;
    margin-bottom: 5px;
}
.header-center{
    margin: 0 auto;
    display: flex;
}
.header-logo{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* footer */
.footer {
    background-color: antiquewhite;
    padding: 0;
}
.footer-content{
    text-align: center;
    color: black;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}
.footer-title{
    font-size: 2rem;
}
.footer-link {
    font-size: 2rem;
    color: black;
    border-radius: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}
.footer-text{
    padding-top: 1rem;
    font-size: 1rem;
}