body {
    max-width: 100%;
    font-family: sans-serif, Arial, Helvetica, Geneva;
}

p {
    font-size: 1.5em;
}

main {
    margin: 0 auto;
    max-width: 800px;
}
.main-image{
    display: block;
    margin: 0 auto;
    max-width: 70%;
}
.contact-text{
    margin-top: 2.5rem;
}

/* header */
.header-logo{
    max-width: 350px;
    margin: 0 auto;
    display: block;
}

/* footer */
footer {
    padding: 0;
    text-align: center;
    color: black;
    padding-top: 1.5rem;
}
.footer-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.footer-link-instagram {
    font-size: 2rem;
    color: black;
    border-radius: 100%;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.footer-link-facebook {
    font-size: 2rem;
    color: black;
    border-radius: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;
}